@charset "utf-8";
/* CSS Document */
*{margin: 0;
padding: 0}
.box{
	width: 300px;
	height:300px;
	background: rgba(235,108,110,1.00);
	margin: 0 auto;
	margin-top: 15px;
	position: relative;
}
.box img{
	width: 300px;
	text-align: center
}
.box:hover .text{
	opacity: 1;
	width: 300px
}
.box .text{
	text-align: center;
	width:0px;
	height:300px;
	background:rgba(61,247,63,0.72);
	position: absolute;
	left: 0px;
	top:0;
	opacity: 0;
	color: rgba(247,51,0,1.00);
	transition: all 0.5s;
	font-size: 20px;
	
}

