@charset "utf-8";
/* CSS Document */
*{margin: 0; padding: 0}
.container{
	width: 1000px;
	height:1000px;
	background-color: aquamarine;
	margin: 0 auto;}
.text{
	width: 500px;
	height: 300px;
	background: #FFFFFF;
	float: left;}
h5{ color: brown;}
h3{color: blue;
   }

.shape{
	width: 500px;
	height: 300px;
	background:rgba(251,249,249,1.00);
	float: right;
	
}
.box{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: darkorange;
	display: inline-block;
	position: relative}
.shape-1{
	background:rgba(200,42,45,0.76);
	position:relative;
	top:40px;
	z-index: 10;
	}
.text-1{ 
text-align: center;
	margin-top:60px;
	color: aliceblue;
}
.text-2{
	text-align: center;
	margin-top: 60px;
	color: aliceblue;
}
.text-3{
	text-align: center;
	margin-top:60px;
	color: aliceblue;
}
.shape-2{
	background: rgba(37,156,216,0.69);
	left: 660px;
	top:5px;
	position: absolute;
	z-index: 9;}
.shape-3{
	background: rgba(112,255,62,0.79);
	z-index: 8;
	top:60px;
	left: 55px;
}